*{box-sizing: border-box;}

html, body{
	width: 100%;
	margin: 0px;
	background: linear-gradient(to right, #1a1a1a, #4d4d4d, #1a1a1a);
	height: 100%
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	height: 33.33%;

}

.flex-item {
	width: 32%;
	height: 90%;
	text-align: center;
}


#flex1 {
	background-color: black;
	background-image: url('https://cdn1.vectorstock.com/i/1000x1000/00/90/tic-tac-toe-game-eps10-vector-9670090.jpg');
	background-size: cover;
	margin: 10px;
	background-position: center;
	align-self: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

#flex2 {
	background-color: transparent;
	background-image: url('https://img.freepik.com/free-vector/watercolor-memory-game-cards_23-2150149082.jpg?size=626&ext=jpg');
	background-size: contain;
	margin: 10px;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

#flex3 {
	background-color: #3a4849;
	background-image: url('https://cdnb.artstation.com/p/assets/images/images/003/736/507/large/artforgame-gamedesign-whack-a-mole-2.jpg?1476952891');
	background-size: contain;
	margin: 10px;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

#flex4 {
	background-color: transparent;
	background-image: url('https://ih0.redbubble.net/image.949532681.0323/raf,360x360,075,t,fafafa:ca443f4786.jpg');
	background-size: contain;
	margin: 10px;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

#flex5 {
	display: flex;
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSekwlY2GCJCIWghlOkNOWaYpd8GkqJZo3lUg&usqp=CAU');
	background-size: cover;
	margin: 10px;
	background-position: center;
	background-repeat: no-repeat;
	justify-content: center;
	align-items: center;
}

#flex6 {
	background-color: #766d79;
	background-image: url('https://www.w3schools.com/html/pic_trulli.jpg');
	background-size: cover;
	margin: 10px;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}


#flex7 {
	background-color: #807f80;
	background-image: url('https://www.classicgame.com/uploaded/game/thumb/minesweeper300x200.webp');
	background-size: cover;
	margin: 10px;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

#flex8 {
	background-color: #704145;
	background-image: url('https://4.bp.blogspot.com/-5rDVv6sPvLc/UbUdjr8ZFzI/AAAAAAAAA2c/YzfDacImElg/w1200-h630-p-k-no-nu/Guess+My+Number.jpg');
	background-size: contain;
	margin: 10px;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

#flex9 {
	background-color: #493a49;
	background-image: url('https://www.w3schools.com/html/pic_trulli.jpg');
	background-size: cover;
	margin: 10px;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.col{
	min-height: 40px;
	margin: 0px;
	display: inline-block;
	float: left;
}

.col:first-child{
	margin: 0px;
}

.col:last-child{
	margin-right: 0px;
}

.col.one{width: 3.93%;
	height: 100%;
	background-color: black;
}

.col.two{width: 12.66%;}

.col.three{width: 21.4%;
	height: 100%;
	background-color: black;}

.col.four{width: 30.13%;}

.col.five{width: 38.867%;}

.col.six{width: 50%;
	height: 100%;
	}

.col.seven{width: 57.2%;
	height: 100%;
}

.col.eight{width: 65.07%;}

.col.nine{width: 73.8%;}

.col.ten{width: 82.533%;}

.col.eleven{width: 91.27%;
	border: 1px solid black;
	margin: 0 auto;}

.col.twelve{width: 100%;
		height: 33%;}
.col.twelve.whole {width: 100%;
	height: 100%;
}

@media (max-width: 768px){
	.col{
		width: 100% !important;
		margin: 0px;
	}
}