* {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
    font-family: "Poppins", sans-serif;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    transition: background-color 1s;
  }
  
  header {
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }
  
  .header-title {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .round {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  .result {
    display: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
  }
  
  .section {
    width: 100%;
    margin-top: 50px;
  }
  
  .boxes {
    display: flex;
    justify-content: center;
  }
  
  .box {
    padding: 2rem;
    font-size: 6rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .computer-box {
    transform: rotate(90deg);
  }
  
  .my-box {
    transform: rotate(-90deg);
  }
  
  .container {
    padding: 30px;
  }
  
  .column {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 1rem;
    width: 30%;
    border:1px solid chocolate;
    height: 100px;
    margin: auto;
    color: black;
  }
  
  .chooser {
    display: flex;
  }
  
  .column p {
    font-size: 2rem;
  }
  
  .item {
    padding: 10px;
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  .item:hover {
    transform: scale(1.6);
    transition: transform 0.3s;
  }
  
  .score-card {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
    width: 90%;
    margin: auto;
    background: chocolate;
    text-align: center;
  }
  
  .score-card p {
    display: inline;
    color: black;
    font-weight: bold;
  }
  
  .score-head {
    font-size: 2rem;
  }
  
  .score {
    font-size: 3rem;
  }
  
  .play {
    display: block;
    text-align: center;
    background-color:#fece2f;
    padding: 10px;
    border: 1px solid chocolate;
    border: none;
    border-radius: 30px;
    width: 30%;
    margin: 1rem auto;
    cursor: pointer;
  }
  
  .play:hover {
    background-color:chocolate;
    border: 1px solid chocolate;
  }
  
  .win-text {
    display: none;
    margin: 1.5rem auto;
    text-align: center;
    font-size: 3rem;
  }
  
  @media screen and (max-width: 600px) {
    .header-title {
      font-size: 3rem;
    }
    .box {
      font-size: 5rem;
    }
  }
  
  @media screen and (max-width: 400px) {
    .header-title {
      font-size: 2.5rem;
    }
  }
  
  @keyframes shakeComputerHand {
    0% {
      transform: rotate(90deg) translate(0px);
    }
    25% {
      transform: rotate(90deg) translate(-15px);
    }
    50% {
      transform: rotate(90deg) translate(0px);
    }
    75% {
      transform: rotate(90deg) translate(-15px);
    }
    100% {
      transform: rotate(90deg) translate(0px);
    }
  }
  
  @keyframes shakePlayerHand {
    0% {
      transform: rotate(-90deg) translate(0px);
    }
    25% {
      transform: rotate(-90deg) translate(15px);
    }
    50% {
      transform: rotate(-90deg) translate(0px);
    }
    75% {
      transform: rotate(-90deg) translate(15px);
    }
    100% {
      transform: rotate(-90deg) translate(0px);
    }
  }